* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url("./assets/cropped_banquet_pic.jpg"), linear-gradient(to right, red, white, red);
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /*padding: 20px;*/
    position: relative;
    .text{
        margin: 30px;
        padding: 20px;
        max-width: 40%;
        min-width: 260px;
        display: flex;
        flex-flow: column nowrap;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
        @media screen and (min-width: 821px) {
            font-size: 1rem;
        }

        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @media screen and (max-width: 820px) {
            font-size: 0.8rem;
        }
        
    }
}

.about {
    width: 100%;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}